$theme-color: #1890ff;;

.contact-icon{
    margin-top: 24px;
    text-align: center;
    width: 120px !important;
    height: 120px !important;
    border: 1px solid;
    border-radius: 50%;
    line-height: 120px !important;
    border-color: $theme-color;
}

.contact-card{
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.09);
    transition: .2s ease-in;
    margin-bottom: 1rem !important;
    text-align: center;
    p{
        color: rgba(0, 0, 0, 0.65) ;
        padding: 0;
        margin: 0;
    }
    &:hover{
        transform: translate(0,-15px);
    }
}


.social-icon{
    text-align: center !important; 
    height: 65px !important;
    line-height: 75px !important;
    width: 65px !important;
    border-radius: 50% !important;
    transition: .3s ease-in !important;
    padding: 0 !important;
    i{
        margin: 0 !important;
        padding: 0 !important;
    }
    &:hover{
        transform: scale(1.1);
    }
}

.contact-icon-col{
    margin-bottom: 1rem;
    display: flex !important;
    justify-content: center;
}
